.kiva-dialog {
  background-color: #fff;
  z-index: 1;
  width: 240px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}
.kiva-dialog__header {
  font-size: 16px;
}
.kiva-dialog__content {
  padding: 8px 0 16px 0;
}
.kiva-dialog__footer {
  display: flex;
  justify-content: space-between;
}
.kiva-dialog__btn {
  font-size: 12px;
  border-radius: 13px;
  width: 90px;
  height: 26px;
  line-height: 26px;
}
.kiva-dialog__btn--single {
  width: 100%;
}
.kiva-dialog__cancel {
  border: 1px solid #dcdcdc;
}
.kiva-dialog__confirm {
  background-color: #fe350e;
  color: #fff;
}

.kiva-image {
  color: red;
}
.kiva-image__loading,
.kiva-image__error,
.kiva-image__img {
  width: 100%;
  height: 100%;
}
.kiva-image__loading,
.kiva-image__error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  color: #c0c4cc;
  font-size: 14px;
}
.kiva-image--round {
  border-radius: 50%;
  overflow: hidden;
}
.kiva-image--fill {
  object-fit: fill;
}
.kiva-image--contain {
  object-fit: contain;
}
.kiva-image--cover {
  object-fit: cover;
}
.kiva-image--none {
  object-fit: none;
}
.kiva-image--scale-down {
  object-fit: scale-down;
}

.kiva-list__error--line {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  color: #3192f1;
  margin: 7.5px auto;
  border: 1px solid #3192f1;
  border-radius: 15px;
  width: 190px;
  height: 30px;
  box-sizing: border-box;
}
.kiva-list__error--line::after {
  content: "点击重新加载";
}
.kiva-list__error--line::before {
  content: "";
  height: 15px;
  width: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUAAAAxk/I9oP8xkvJVqv8xkvIzlfQ5mPQxk/IylPI1l/Uyk/Ixk/IxkvIzlPMxk/IylPMzlfU1l/M2lvYyk/Ixk/Ixk/Ixk/Myk/Iyk/IylPM0l/cxk/Ixk/Iyk/IxlPEzk/MylPIzlfQxkvKzo2zxAAAAI3RSTlMA9QrqA8QtFrmKJN3ZgD7JeTUpErKinpmSdGYf49KrXFVORasJZ1QAAADuSURBVCjPjZJZksMgDAUtMHiP93Wy9/3vOFUuTzK2iSv6EajRAyF5O5susXdgEcY/wPWZ0RX/Ga+p1mnTI9UO2pC3XTbyfgTS3qqgtrerQLaiqkGi+m8XhzKtckP06agWfVCrRQ5yvYbogMZI7QhPaTn7kdaV1S+aIXcXvhPOPiV2/jHJ7AXlwgr5BiefxM+zNzxc+LE8raB34WFpm0Urx9Ua6y3q2R4XmGVVInZLK+HVpo4kWNMgoXuPgyGxq9yUXP07nCPFa68KIV/JqQ708Ax8P3gOGtptLScDIAJgXMNTZkaL6DwrvU/mb+b/F9EXEIe2mk7zAAAAAElFTkSuQmCC) no-repeat;
  background-size: 100% auto;
  margin-right: 3px;
}
.kiva-list__nodata--line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 30px;
  line-height: normal;
  flex-shrink: 0;
  margin: 7.5px 0;
  color: #888;
  font-size: 14px;
}

.kiva-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 30px;
  line-height: normal;
  flex-shrink: 0;
  margin: 7.5px 0;
  color: #888;
  font-size: 14px;
}

.kiva-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kiva-mask__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.kiva-tabs__navs {
  display: flex;
  height: 44px;
  position: relative;
  background-color: #fff;
}
.kiva-tabs-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #645656;
  font-size: 14px;
}
.kiva-tabs-nav--active {
  color: #323233;
  font-weight: 500;
}
.kiva-tabs__line {
  position: absolute;
  background-color: #ee0a24;
  border-radius: 3px;
  width: 40px;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.kiva-toast {
  position: fixed;
  max-width: 80%;
  min-width: 96px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  z-index: 1000;
  transition: opacity 0.3s linear;
  padding: 8px 12px;
}
.kiva-toast--top {
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.kiva-toast--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kiva-toast--bottom {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.kiva-toast__txt {
  font-size: 14px;
  text-align: center;
}


.common-color {
  color: aliceblue;
}
.common-index {
  color: bisque;
}


html, body {
  background-color: #fafafa;
}


.demo-item[data-v-8b0a1632] {
  padding: 10px 0;
}

.demo-item--inline[data-v-85de790c] {
  display: inline-block;
}
.demo-item--inline div[data-v-85de790c] {
  color: #aaa;
  text-align: center;
  margin-top: 6px;
  font-size: 12px;
}


.list-item[data-v-17af511a] {
  height: 50px;
  margin: 6px 0;
  background-color: #e1e3e6;
  border-radius: 6px;
  line-height: 50px;
  text-indent: 10px;
}


.list-item[data-v-8b11d23a] {
  height: 50px;
  margin: 6px 0;
  background-color: #e1e3e6;
  border-radius: 6px;
  line-height: 50px;
  text-indent: 10px;
}


.demo-content[data-v-45a73bbc] {
  width: 120px;
  height: 120px;
  background-color: #fff;
  z-index: 1;
  overflow: auto;
}
.demo-long-block[data-v-45a73bbc] {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 1000px;
  margin-top: 32px;
}
.demo-content__content[data-v-45a73bbc] {
  height: 300px;
  background: linear-gradient(to bottom, #00467F, #A5CC82);
}


.demo-content[data-v-390bd6cf] {
  background: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.demo-item[data-v-19886a74] {
  padding: 10px 0;
}

.demo-waterfall[data-v-263abed4] {
  display: flex;
  justify-content: space-between;
}
.demo-waterfall__column[data-v-263abed4] {
  width: 49%;
}
.demo-waterfall-column__item[data-v-263abed4] {
  background-color: #fff;
  margin-bottom: 10px;
}
.demo-waterfall-column-item__img[data-v-263abed4] {
  width: 100%;
  position: relative;
  background-color: #e1e1e1;
}
.demo-waterfall-column-item__img img[data-v-263abed4] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.demo-waterfall-column-item__text[data-v-263abed4] {
  height: 30px;
  line-height: 30px;
}

.kiva-demo-block__title {
  padding: 32px 16px 16px;
  color: #999;
}

