.button {
  color: aqua;
}

.button {
  color: aqua;
}


.btn_refresh {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: .28rem;
  color: #3192f1;
  margin: .15rem auto;
  border: 1px solid #3192f1;
  border-radius: .3rem;
  width: 3.8rem;
  height: .6rem;
  box-sizing:border-box;
}
.btn_refresh:after {
  content: "点击重新加载";
}
.btn_refresh:before {
  content: "";
  height: .3rem;
  width: .3rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUAAAAxk/I9oP8xkvJVqv8xkvIzlfQ5mPQxk/IylPI1l/Uyk/Ixk/IxkvIzlPMxk/IylPMzlfU1l/M2lvYyk/Ixk/Ixk/Ixk/Myk/Iyk/IylPM0l/cxk/Ixk/Iyk/IxlPEzk/MylPIzlfQxkvKzo2zxAAAAI3RSTlMA9QrqA8QtFrmKJN3ZgD7JeTUpErKinpmSdGYf49KrXFVORasJZ1QAAADuSURBVCjPjZJZksMgDAUtMHiP93Wy9/3vOFUuTzK2iSv6EajRAyF5O5susXdgEcY/wPWZ0RX/Ga+p1mnTI9UO2pC3XTbyfgTS3qqgtrerQLaiqkGi+m8XhzKtckP06agWfVCrRQ5yvYbogMZI7QhPaTn7kdaV1S+aIXcXvhPOPiV2/jHJ7AXlwgr5BiefxM+zNzxc+LE8raB34WFpm0Urx9Ua6y3q2R4XmGVVInZLK+HVpo4kWNMgoXuPgyGxq9yUXP07nCPFa68KIV/JqQ708Ax8P3gOGtptLScDIAJgXMNTZkaL6DwrvU/mb+b/F9EXEIe2mk7zAAAAAElFTkSuQmCC) no-repeat;
  background-size: 100% auto;
  margin-right: .06rem
}
.hdImg_tips{
  display: flex;
  flex-direction: row;
  padding:0 .3rem;
  height:.6rem;
  align-items: center;
  justify-content: center;
  line-height: normal;
  flex-shrink: 0;
  margin: .15rem 0;
  color:#888;
  font-size:.28rem;
}


.button {
  color: red;
}

.list {
  color: blue;
}
.kiva-loading {
  display: flex;
  flex-direction: row;
  padding: 0 0.3rem;
  height: 0.6rem;
  align-items: center;
  justify-content: center;
  line-height: normal;
  flex-shrink: 0;
  margin: 0.15rem 0;
  color: #888;
  font-size: 0.28rem;
}

.common-color {
  color: aliceblue;
}
.common-index {
  color: bisque;
}

.test {
  background: red;
  padding: 10px;
}
.test span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: sandybrown;
}

.test {
  background: red;
  padding: 10px;
}
.test span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: sandybrown;
}


.list-item[data-v-4ce1c150] {
  height: 50px;
  margin-bottom: 6px;
  background-color: #d3cbaf;
  border-radius: 6px;
  line-height: 50px;
  text-indent: 10px;
}

