.kiva-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:0 15px;
  height: 30px;
  line-height: normal;
  flex-shrink: 0;
  margin: 7.5px 0;
  color:#888;
  font-size: 14px;
}
