@import './common/reset.less';
@import './common/common.less';
@import './common/var.less';
@import './common/util.less';

@import './markdown/sspai.less';
// @import './markdown/lixiaolai.css';
// @import './markdown/vue/vue.css';
// @import './markdown/ursine/ursine-polar.css';

html, body {
  width: 100%;
  height: 100%;
};
.header {
  height: 60px;
  padding: 0 30px;
  // background-color: #001938;
  background-color: @mainColor;
  span a {
    color: #fff;
    font-size: 22px;
  }
}

.container {
  overflow: hidden; // hack 其子元素 nav content overflow-y: scroll 无效的问题
}
.nav {
  width: 220px;
  background-color: #fff;
  box-shadow: #ebedf0 0 4px 12px;
  overflow-y: scroll;
}
.content {
  padding: 30px;
  overflow-y: scroll;

  .kiva-markdown-card {
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 8px 12px #ebedf0;
  }
}
.simlator {
  width: 375px;
  max-height: 667px;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: #ebedf0 0 4px 12px;
  margin: 30px 30px 10px 10px;
}

// 左侧导航栏
.nav__group {
  margin-bottom: 16px;
}
.nav__title {
  padding: 8px 0 8px 30px;
  color: #455a64;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
}
.nav__item {
  a {
    display: block;
    padding: 8px 0 8px 30px;
    color: #455a64;
    font-size: 14px;
    line-height: 28px;
  }
}